extends layout
append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)
block content
  body
    h1= message
    h2= error.status
    pre #{error.stack}
