extends layout
include utils.pug 

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/indexForms.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  body
  .container 
    if errors
      +validationErrorSummary(errors)
    div.registerContainer
      div.register
        .signupTitle Sign up for SeenScenes 
        .signupPara1 Sign up to see what your friends are watching, get film recommendations,
        .signupPara2 and join the world's largest community of watchers.
        .linkedIn 
          p Checkout our developers...
          div
            a.linkedLink(href="https://www.linkedin.com/in/stephen1010/")   
              button.sb Stephen Szelpal
          div
            a.linkedLink(href="https://www.linkedin.com/in/jevon-timmons/")   
              button.jb Jevon Timmons
          div
            a.linkedLink(href="https://www.linkedin.com/in/matthew-johnston-9b6bb3181/")   
              button.mb Matthew Johnston
        .actFormContainer 
          .actFormTitle Sign Up with Email and Choose a Username
          form(action="/users/register" method="post")
              input(type="hidden" name="_csrf" value=token)
              .fields
                .labels Username
                .username
                  input(type='text' name='username' class='user-input' placeholder='＠   username')
                .labels Email address
                .email
                  input(type='email' name='email' class='pass-input' placeholder='you@yours.com')
                .labels Password
                .password 
                  input(type='password' name='password' class='pass-input' )
                .labels Password, again
                .confirm-password
                  input(type='password' name='confirmPassword' class='pass-input' )
                .optional Optional
                .labels Quick Bio
                .biography 
                  textarea(name="biography" cols="50" rows="5") 
                .labels Go-To Genre
                .favorite-genre
                  div
                    select(name="genreId")
                      each genre in genres 
                          option(value=genre.id)=genre.name 
                .button 
                    button.register-button(type="submit") 🎥
    
          


