doctype html
html
  head
      block head
        title="Seen Scenes"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/navbar.js" type="module")
        link(rel="stylesheet" href="/stylesheets/index.css")
  body
    nav(class="navbar")
      img(src="https://i.imgur.com/yACm43q.png" onClick="location.href='/'" class="navbar-logo-img")
      form(class="search-bar" action="/films/search", method="post")
            input(type='hidden' name='_csrf' value=token)
            input(class="search" type='text' name='query' placeholder='Search for a film')



      if locals.authenticated

        div(class="controls")

          div(class="films-btn btn" id="my-reels-btn" onclick=`location.href='/films'`) Browse

          div(class="my-reels-btn btn" id="my-reels-btn" onclick=`location.href='/users/${user.id}/reels'`) My Reels

          div(class="dashboard-btn btn" id="dashboard-btn" onclick=`location.href='/users/${user.id}'`) Dashboard

          form(action="/users/logout" method="post" class="logout-div box bounce-6")
            div(class="logout-btn btn" id="logout-btn" onClick="javascript:this.parentNode.submit()") Logout

      else
        div(class="controls")
          form(action="/users/login/demo-user" method="post")
            div(class="demo-user-btn btn" id="demo-user-btn btn" onClick="javascript:this.parentNode.submit()") Demo
          //- form(action="/users/login" method="post")
          //-   div(class="demo-user-btn btn" id="demo-user-btn btn" value=""onClick="javascript:this.parentNode.submit()") Demo
          div(class="films-btn btn" id="my-reels-btn" onclick=`location.href='/films'`) Browse

          div(class="my-reels-btn btn" id="my-reels-btn" onclick=`location.href='/login'`) Login

          div(class="dashboard-btn btn" id="dashboard-btn" onclick=`location.href='/'`) Register

    block content

    //- footer(class="footer")
