doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      a(href="/") Homepage
        span
      div(id="navbar-text")
        ul
        if locals.authenticated
          span Welcome, #{user.username}
          form(action="/users/logout" method="post")
            button(type="submit") Logout
        else
          span
            a(href="/users/login") Login
            a(href="/users/register") Register
    .container
      h2 #{title}
    block content
