extends layout.pug
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)


block content
  body
    .container
      div.loginContainer
        div.login
          .signupTitle Sign in to SeenScenes 
          .linkedIn 
            p Checkout our developers...
            div
              a.linkedLink(href="https://www.linkedin.com/in/stephen1010/")   
                button.sb Stephen Szelpal
            div
              a.linkedLink(href="https://www.linkedin.com/in/jevon-timmons/")   
                button.jb Jevon Timmons
            div
              a.linkedLink(href="https://www.linkedin.com/in/matthew-johnston-9b6bb3181/")   
                button.mb Matthew Johnston
          if errors
            +validationErrorSummary(errors)
          form(action="/users/login" method="post")
            input(type="hidden" name="_csrf" value=token)
            .fields
              .labels Email address
              .email
                input(type='email' name='email' class='user-input' placeholder='you@yours.com')
              .labels Password
              .password 
                input(type='password' name='password' class='pass-input' )
              .submitContainer
                .button 
                  button.register-button(type="submit") Sign in 
                  .notMember
                    .already Not a member?
                    a.signInLink(href='/') Sign up