<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title=title
   body
      form(action="/login" method="post")
         div
            label Email
            input(type="text" name="email" required)
         div
            label Password
            input(type="text" name="password" required)
         div
            button(type="submit") Submit
            input(type="hidden" name="_csrf" value=token)
