extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/reels.css")
  script(src="/javascripts/index.js" type="module" defer)


block content 
  body
    .reelContainer
      each reel in reels 
        div.reelTitle
          h2= reel.name
            div.filmContainer
              each film in reel.Films 
                a(href=`/films/${film.id}`)
                  img.filmPoster(src= film.posterPath)
    .newReel 
      form(action=`/users/${user.id}/reels` method="post")
        .fields
          input(class="input" type='text' name='name' placeholder='...add a new reel')

        div
          button(type="submit" class='newReelButton') Let's Do It!


    


