extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/reels.css")
  script(src="/javascripts/index.js" type="module" defer)


block content
  body
    div(class="reels-page")

      div(class="reels-section")
        div(class="reels-head")= `${user.username}'s reels`
        div(class="reels-reels")
          each reel in reels
            div(class="reel")
              div(class="reel-top")
                h2(class="reel-title")= `${reel.name} Reel`
                div(class="reel-add" onclick=`location.href='/films'`) add to reel
              div
                if (reel.Films.length)
                  each film in reel.Films
                    a(href=`/films/${film.id}`)
                      img.film(src= film  .posterPath)
                else
                  div(class="reel-empty") you don't have any movies in this reel yet

      div(class="reels-side")
        div(class="sidebar-header") Create a New Reel
        div(class="sidebar-text side-content") Want to track your favorite movies, or maybe action movies you want to watch, try creating a new reel!
        div(class="sidebar-form")
          form(action=`/users/${user.id}/reels` method="post")
            div
              input(class="side-input" type='text' name='name' placeholder='...add a new reel')

            div
              button(type="submit" class='side-button') Let's Do It
