extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/reels.css")
  script(src="/javascripts/index.js" type="module" defer)


block content 
  body
    div.reelContainer
      each reel in reels 
        div.reelTitle
          h2= reel.name
            div.filmContainer
              each film in reel.Films 
                a(href=`/films/${film.id}`)
                  img.filmPoster(src= film.posterPath)
    div
      if errors
        +validationErrorSumary(errors)
      form(action=`/users/${user.id}/reels` method="post")
        input(type="hidden" name="_csrf" value=token)
        +field("New Reel...", "name")
        div
          button(type="submit") Add New Film Reel


    


