extends layout.pug
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
   body
      if errors
         +validationErrorSummary(errors)
      form(action="/users/register" method="post")
         input(type="hidden" name="_csrf" value=token)
         +field("User Name", "username")
         +field("Email", "email", "email")
         +field("Password", "password", "password" )
         +field("Confirm Password", "confirmPassword", "password")
         div
            label Biography
            textarea(name="biography" cols="30" rows="10" placeholder="Tell us a little about yourself... or not, your call..")
         div
            label Favorite Genre
            select(name="genreId")
               each genre in genres
                  option(value=genre.id)=genre.name
         div
            button(type="submit") Register
            a(href="/") Cancel
         div
            p: a(href="/users/login") Already have an account?
