.filmContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    width: auto;
    margin: 20px;
    font-size: 12px;
    min-height: 400px;
    background: #FFFFFF;
    text-align: left;
    border-bottom: solid;
    padding-bottom: 1rem;
}

.filmsContainer {
    display: grid;
    margin: 1rem;
    padding: 0.5rem;

}

.filmContents {
    padding: 10px;
}

.filmPoster {
    height: 18rem;
    border-radius: 30px;
}

.filmPoster:hover {
    opacity: 0.8;
    cursor: pointer;
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}


.like-btn-text {
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 30px;
    text-align: center;
    background: rgb(177, 230, 250);
    color: #555;
}

.like-btn-text:hover {
    cursor: pointer;
}

.submit-review-button,
.delete-review-button {
    width: 200px;
    height: 20px;
    text-align: center;
    border-radius: 30px;
    text-align: center;
    background: rgb(177, 230, 250);
    color: #555;
}

.add {
    width: 150px;
    height: 20px;
    text-align: center;
    border-radius: 30px;
    text-align: center;
    background: rgb(177, 230, 250);
    color: #555;
}

.item {
    padding: 15px;
}

.dropDown {
    width: 150px;
    height: 20px;
    text-align: center;
}

.reelContainer {
    display: flex;
    justify-content: center;
}

.reviewText {
    width: 70%;
    text-align: center;
    background-color: white;
}

.existingReviews {
    padding: 5px;
    width: 800px;
    margin: auto;
}

.moviesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.poster {
    height: 22rem;
    margin-bottom: 1rem;
}

.filmIdPoster {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filmContents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.review {
    display: grid;
}

.reviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
}

.review-form{
    flex-grow: 1;
    text-align: center;
}