.filmContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px auto;
	position: relative;
	text-align: center;
}

.filmBlock {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

.filmPoster {
  height: 15rem;
}

.filmPoster:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);

}

.thumbs-up-btn {
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.thumbsed-up-btn {
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(84, 84, 84);
  border: 2px solid white;
  color: white;
}



.text {
  width: 60px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
}

.text:hover {
  cursor: pointer;
}

.filmidContainer {
  width: auto;
  float: left;
  margin: 10px 20px 10px 20px;
  font-size: 12px;
  min-height: 400px;
  text-align: left;
}
.filmidPoster {
    float: left;
    height: 25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.filmidContents {
  width: 75%;
  margin-right: 0px;
  float: left;
  margin: 0 20px 10px 0;
}

.authenticated {
  width: 10rem;
  margin-left: 20px;
}

