h1 {
    color: #555;
}

body {
    background-color: #4f4d4d;
    background-image: url('./img/Endless-Constellation\ \(1\).svg');
    color: #555;
    overflow: scroll;
}

.loginRegisterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.loginRegister {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.errorsContainer {
    text-align: center;
    color: white;
    opacity: 0.8;
    font-style: italic;
}
